<%- include("partials/header") -%>
<h1>Delete Blog 🚩</h1>
<form class="" action="<%= password %> " method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" required/>
  </div>
  <button class="btn btn-danger" type="submit" name="button" >Delete Article!!!</button>
</form>
<%- include("partials/footer") -%>